body
{
	padding: 0;
	margin: 0;

	font-family: "Trebuchet MS", Verdana, Lucida, Helvetica, Arial, sans-serif;
	background-color: #ddd;
}

#content
{
	width: 80%;
	border-right: 1px dashed #999;
	border-left: 1px dashed #999;
	margin: 0 auto;
	background-color: white;
	color: black;
}

a
{
	color: #800080;
}

h1
{
	padding: 1em;
	margin: 0;
	text-align: center;
	color: #817196;
}

h2
{
	background-color: #fb8b5b;
	color: white;
	padding: 0.1em 0.5em;
}

h2 a
{
	color: white;
	text-decoration: none;
}

h3
{
/*	font-style: italic;*/
	padding: 0.1em 0.5em;
}

p
{
	margin: 0;
	padding: 0 1em;
}

pre
{
	border: 1px solid #bbb;
	background-color: #f5f5f5;
	margin: 0.6em 2em;
	padding: 0.2em;
}

#reference
{
	margin: 0;
	padding: 1em 1.3em;
}

#reference dt strong
{
	color: blue;
}

#reference dd
{
	padding: 0.5em 0.5em 1em 0.5em;
}

#reference dt em, #reference dd em
{
	text-decoration: underline;
}

#footer
{
	text-align: center;
	padding: 1em;
}

#footer #revision
{
	margin-bottom: 1em;
}

#footer img
{
	border: none;
}

#backlink
{
	font-size: smaller;
	background-color: black;
	color: white;
	text-align: right;
	padding: 0.1em;
}

#backlink a
{
	color: white;
}
